body{
  background-color: white;
}
.welcome{
  background-color:white;
  text-align: center;
  font-family:Verdana;
  color:blue;
  }
  .b1{
    width:100px;
  }
  .username{
    text-decoration: underline;
  }