body {
  background-color:#C7102E;
}
.welcome{
  background-color:#C7102E;
  text-align: center;
  font-family:Verdana;
  color:white;
  }
  .b1{
    width:100px;
  }
  .username{
    text-decoration: underline;
  }