.form-inner{
    background-color:#C7102E;
    text-align: center;
    font-size: 25px;
    font-family:Verdana;
    height:100vh;
    margin:0px;
    padding:0px;
}
.error{
    color:white;
    padding-bottom: 10px;
    font-weight: 600;
    font-size:20px;
    font-family:'Times New Roman', Times, serif;
    border-radius: 5px;
    background: linear-gradient(124deg, #f6735f, #e81d1d);
    background-size: 1800% 1800%;
    width:400px;
    text-align: center;
    justify-content: center;
    margin-left:760px;
    -webkit-animation: rainbow 5s ease infinite;
    -z-animation: rainbow 5s ease infinite;
    -o-animation: rainbow 5s ease infinite;
      animation: rainbow 5s ease infinite;
    }


@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
h3{
    color:white;
    font-size:25px;
    margin-top:0px;
    padding-top:13%;
}
#name{
    width:400px;
    border-radius: 5px;
}
#password{
    width:400px;
    border-radius: 5px;
}
#submit{
    width:408px;
    border-radius: 5px;
}